.vanta-toggle-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.75rem;
    color: white;
    display: flex;
    gap: 0.75rem;
    align-items: center;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
}

.vanta-toggle-wrapper * {
    cursor: pointer;
}

